# top_stock_data_extractor
workflows/extractors/top_stock_data_extractor/__pycache__
workflows/extractors/top_stock_data_extractor/.env
workflows/extractors/top_stock_data_extractor/test.ipynb

# top_stock_opening_closing_price_extractor
workflows/extractors/top_stocks_opening_closing_prices_extractor/__pycache__
workflows/extractors/top_stocks_opening_closing_prices_extractor/.env
workflows/extractors/top_stocks_opening_closing_prices_extractor/test.ipynb

# experimentation/notebooks
experimentation/notebooks/__pycache__
experimentation/notebooks/.env

# deployments folder
deployments

# virtual environment
.venv

# vs-code
.vscode

# data
data